/* Variables */
:root {
  /* Colors */
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);

  /* Text color */
  --faded-black: rgb(116, 116, 116);
}

.heroSect {
  padding: 50px 60px;
  transition: all 400ms ease;
}

.innerHeroSect {
  width: 100%;
  height: auto;
  display: flex;
  transition: all 400ms ease;
}

.innerHeroSect .span-logo {
  flex: 1;
}

.innerHeroSect .span-logo img {
  max-width: 100% !important;
  max-height: 100% !important;
  object-fit: cover;
}

.simpleManager {
  padding: 100px 50px;
  flex: 1;
  transition: all 400ms ease;
}

.simpleManager h2 {
  font-size: 40px;
  font-weight: 500;
}

.simpleManager p {
  margin-top: 25px;
  text-align: justify;
  font-size: 16px;
  color: var(--faded-black);
}

.forBtns {
  display: flex;
  margin-top: 20px;
  gap: 15px;
  transition: all 400ms ease;
}

.forBtns button {
  padding: 10px 18px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.737);
  cursor: pointer;
  transition: all 300ms ease;
}

.onChromeBtn {
  background-color: var(--soft-blue);
  color: white;
  transition: all 400ms ease;
}

.forBtns button:hover {
  background-color: white;
  color: var(--soft-blue);
  border: 2px solid var(--soft-blue);
}

/* Features section */
.features {
  margin-top: 30px;
  transition: all 400ms ease;
}

.features .featureDetail {
  text-align: center;
  width: 38%;
  margin: auto;
  transition: all 400ms ease;
}

.featureDetail p {
  color: var(--faded-black);
}

.slideHolder {
  height: auto;
  transition: all 400ms ease;
}

.slider {
  width: 50%;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-evenly;
  padding: 18px 0;
  border-bottom: 1px solid var(--faded-black);
  transition: all 400ms ease;
}

.slideBtn {
  background: none;
  border: none;
  position: relative;
  padding: 12px 18px;
  cursor: pointer;
  transition: all 300ms ease;
}

.slideBtn:hover {
  color: var(--soft-red);
}

.slideBtn::after {
  position: absolute;
  top: 140%;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 0;
  height: 8%;
  background-color: red;
  transition: all 300ms ease;
}

.slideBtn:focus::after {
  width: 120%;
}

.slideWrapper {
  position: relative;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow: hidden;
  transition: all 400ms ease;
}

.slides {
  width: 100%;
  /* margin: 5px auto; */
  display: flex;
  gap: 50px;
  padding: 20px 0;
  justify-content: center;
  transition: all 400ms ease;
}

.slides > * {
  transition: all 1000ms ease;
}

.slides span {
  border: 5px solid black;
  border-radius: 10px;
  /* height: 100%; */
  flex: 1;
}

.slides span img {
  max-width: 100% !important;
  max-height: 100% !important;
  object-fit: cover;
}

.content {
  width: 40%;
  flex: 1;
}

.content h2 {
  margin-top: 100px;
}

.content p {
  margin: 20px 0;
  color: var(--faded-black);
}

.content button {
  padding: 12px 18px;
  border-radius: 5px;
  border: none;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.737);
  background-color: var(--soft-blue);
  color: white;
  cursor: pointer;
}

/* Media section */
@media (max-width: 1000px) {
  .heroSect {
    padding: 50px 40px;
  }

  .simpleManager {
    padding: 50px;
  }

  .simpleManager h2 {
    font-size: 30px;
  }

  .slider {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .heroSect {
    padding: 50px 40px;
  }

  .innerHeroSect {
    flex-direction: column;
    flex-wrap: wrap-reverse;
    margin: auto;
  }

  .innerHeroSect span {
    width: 100%;
    display: flex;
    order: 0;
  }

  .innerHeroSect span > svg {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
  }

  .simpleManager {
    padding: 0;
    width: 100%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    order: 1;
  }

  .simpleManager h2 {
    margin-top: 30px;
    width: 100%;
    font-size: 30px;
  }

  .simpleManager p {
    text-align: center;
  }

  .features {
    margin-top: 50px;
  }

  .features .featureDetail {
    width: 100%;
  }

  .featureDetail h2 {
    margin: 10px;
  }

  .slider {
    flex-direction: column;
    border-bottom: none;
    width: 100%;
  }

  .slideBtn {
    border-top: 1px solid var(--faded-black);
    border-bottom: 1px solid var(--faded-black);
    padding: 18px;
  }

  .slideBtn::after {
    top: 100%;
  }

  .slideBtn:focus::after {
    width: 100%;
  }

  .slides {
    flex-direction: column;
    gap: 0;
  }

  .content {
    width: 100%;
    text-align: center;
  }

  .content h2 {
    margin-top: 30px;
  }

  .content button {
    display: none;
  }
}
